<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define beans here -->

    <!-- By default the scope of the bean is a singleton, this means that anything created using this will only use this one instance of the object -->
    <bean id="myHumanSingleton"
          class="main.springBeansAndXml.beanScopes.Human">
    </bean>

    <!-- Anything created using this will create a new instance every time -->
    <bean id="myHumanPrototype"
          class="main.springBeansAndXml.beanScopes.Human"
          scope="prototype">
    </bean>

</beans>